@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-image: url('https://new-assets.ccbp.in/frontend/static-website/moon-stars-bg.png');
    background-size: cover;
    height: 110vh;
}

.bg-container-heading {
    color: #ffffff;
    font-family: Bree Serif;
    text-align: center;
    margin-top: 130px;

}

.bg-container-paragraph {
    color: #ffffff;
    font-family: Bree Serif;
    text-align: center;
    font-size: 15px;
}

.bg-text-container {
    padding: 1px;
}

.bg-image-container {
    width: 40vh;
    height: 20vh;
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/moon-bg.png');
    background-size: cover;
    margin-top: 70px;
}

.bg-image-container:hover {
    width: 60vh;
    height: 30vh;
    transition: 0.8s;
    background-size: cover;
    margin-top: 70px;
}

.bg-image-container-text {
    color: #ffe7bf;
    font-family: Bree Serif;
    text-align: center;
    margin-top: 90px;
    user-select: none;
}

.bg-button {
    text-align: center;
    height: 50px;
    width: 130px;
    border-radius: 30px;
    background-color: #8e97fd;
}

.bg-button:hover {
    background-color: #fff;
    transition: 0.6s;
}

.detail-sec {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/clouds-img.png');
    background-size: cover;
    height: 30vh;
}

.detail-sec-text-heading {
    color: #ffffff;
    font-family: Bree Serif;
}

.detail-sec-text-paragraph {
    color: #98a1bd;
    font-family: Bree Serif;
    font-size: 15px;
}

.detail-sec-text {
    padding: 19px;
}

.detail-sec-text-paragraph2 {
    color: #98a1bd;
    font-family: Bree Serif;
    margin-top: 5px;
    font-size: 15px;
}

.detail-sec-text-paragraph3 {
    color: #ffffff;
    font-family: Bree Serif;

    font-size: 24px;
}

.related-img {
    height: 100px;
    width: 160px;
    margin: 5px;
}

.detail-sec-text-heading3 {
    color: #ffffff;
    font-family: Bree Serif;
    padding: 6px;
    font-size: 22px;
}

.detail-sec-text-paragraph4 {
    color: #98a1bd;
    font-family: Bree Serif;
    padding: 6px;

}

.detail-sec-card {
    margin-left: 15px;
}

.detail-button {
    text-align: center;
    height: 50px;
    width: 130px;
    border-radius: 30px;
    background-color: #8e97fd;
    color: #ffffff;
    margin-left: 15px;
}

.detail-button:hover {
    border-color: silver;
    border-width: 4px;


}

@media only screen and (max-width: 600px) {
    .bg-image-container:hover {
        width: 50vh;
        height: 25vh;
        transition: 0.8s;
        background-size: cover;
        margin-top: 70px;
    }

    body {
        height: 100%;
    }
}